html,
body {
	background-color: var(--a-bg-color);
}
.Profile {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	background-color: var(--a-bg-color);

	font-family: Solway;
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 124.88%;
}
